body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.btn img {
    height: 200px;
    width: 200px;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.gameFlash {
    background-color: blue;
    box-shadow: 2px 2px 2px blue;
}

.userFlash {
    background-color: green;
    box-shadow: 2px 2px 2px green;
}